$color-config-default: (
  primary: (hex: #5ac832, hue: 104, saturation: 60%, lightness: 49.02%),
  primary-dark: (hex: #307317, hue: 103.7, saturation: 66.67%, lightness: 27.06%),
  secondary: (hex: #f1f2f7, hue: 230, saturation: 27.27%, lightness: 95.69%),
  danger: (hex: #ff0000, hue: 0, saturation: 100%, lightness: 50%),
  neutral-darker: (hex: #2d2d2d, hue: 0, saturation: 0%, lightness: 17.65%),
  neutral-dark: (hex: #444444, hue: 0, saturation: 0%, lightness: 26.67%),
  neutral: (hex: #8d8d8d, hue: 0, saturation: 0%, lightness: 55.29%),
  neutral-light: (hex: #e0e0e0, hue: 0, saturation: 0%, lightness: 88%),
  neutral-lighter: (hex: #eeeeee, hue: 0, saturation: 0%, lightness: 98%),
  neutral-lightest: (hex: #ffffff, hue: 0, saturation: 0%, lightness: 100%),
);

$color-config-coture: (
  primary: (hex: #481C87, hue: 265, saturation: 65.6%, lightness: 32%),
  primary-dark: (hex: #220D3F, hue: 265, saturation: 65.6%, lightness: 15%),
  secondary: (hex: #f1f2f7, hue: 230, saturation: 27.27%, lightness: 95.69%),
  danger: (hex: #ff0000, hue: 0, saturation: 100%, lightness: 50%),
  neutral-darker: (hex: #2d2d2d, hue: 0, saturation: 0%, lightness: 17.65%),
  neutral-dark: (hex: #444444, hue: 0, saturation: 0%, lightness: 26.67%),
  neutral: (hex: #8d8d8d, hue: 0, saturation: 0%, lightness: 55.29%),
  neutral-light: (hex: #e0e0e0, hue: 0, saturation: 0%, lightness: 88%),
  neutral-lighter: (hex: #eeeeee, hue: 0, saturation: 0%, lightness: 98%),
  neutral-lightest: (hex: #ffffff, hue: 0, saturation: 0%, lightness: 100%),
);

:root, [data-theme="default"] {
  /**
   * mixin result:
   * --color-primary: hsl(220, 45%, 55%);
   * --color-primary-h: 220;
   * --color-primary-s: 45%;
   * --color-primary-l: 55%;
   */
  @each $class, $value in $color-config-default {
    $hue: map-get($value, hue);
    $saturation: map-get($value, saturation);
    $lightness: map-get($value, lightness);
    @include generateColorHSL($class, $hue, $saturation, $lightness);
  }
  --font-size-base: 1rem;
  --spacing-base: 1rem;
  --border-radius-base: 8px;
}

[data-theme="coture"] {
  @each $class, $value in $color-config-coture {
    $hue: map-get($value, hue);
    $saturation: map-get($value, saturation);
    $lightness: map-get($value, lightness);
    @include generateColorHSL($class, $hue, $saturation, $lightness);
  }
  --font-size-base: 1rem;
  --spacing-base: 1rem;
  --border-radius-base: 8px;
}

$border-radius-base: var(--border-radius-base);

/**
 * color
 */
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-secondary: var(--color-secondary);
$color-danger: var(--color-danger);
$color-neutral-darker: var(--color-neutral-darker);
$color-neutral-dark: var(--color-neutral-dark);
$color-neutral: var(--color-neutral);
$color-neutral-light: var(--color-neutral-light);
$color-neutral-lighter: var(--color-neutral-lighter);
$color-neutral-lightest: var(--color-neutral-lightest);


/**
 * font-size
 */
$font-size-2xs: calc(var(--font-size-base) * 1) !default;
$font-size-xs: calc(var(--font-size-base) * 1.2) !default;
$font-size-sm: calc(var(--font-size-base) * 1.4) !default;
$font-size-md: calc(var(--font-size-base) * 1.6) !default;
$font-size-lg: calc(var(--font-size-base) * 1.8) !default;
$font-size-xl: calc(var(--font-size-base) * 2) !default;
$font-size-2xl: calc(var(--font-size-base) * 2.2) !default;
$font-size-3xl: calc(var(--font-size-base) * 2.4) !default;
$font-size-4xl: calc(var(--font-size-base) * 2.8) !default;
$font-size-5xl: calc(var(--font-size-base) * 3) !default;
$font-size-6xl: calc(var(--font-size-base) * 4) !default;
$font-size-7xl: calc(var(--font-size-base) * 5) !default;
$font-size-8xl: calc(var(--font-size-base) * 5.5) !default;


/**
 * spacing
 */
$spacing-0: 0 !default;
$spacing-1: calc(var(--spacing-base) * .2) !default;
$spacing-2: calc(var(--spacing-base) * .4) !default;
$spacing-3: calc(var(--spacing-base) * .6) !default;
$spacing-4: calc(var(--spacing-base) * .8) !default;
$spacing-5: calc(var(--spacing-base) * 1) !default;
$spacing-6: calc(var(--spacing-base) * 1.2) !default;
$spacing-7: calc(var(--spacing-base) * 1.4) !default;
$spacing-8: calc(var(--spacing-base) * 1.6) !default;
$spacing-9: calc(var(--spacing-base) * 1.8) !default;
$spacing-10: calc(var(--spacing-base) * 2) !default;
$spacing-12: calc(var(--spacing-base) * 2.4) !default;
$spacing-14: calc(var(--spacing-base) * 2.8) !default;
$spacing-16: calc(var(--spacing-base) * 3.2) !default;
$spacing-20: calc(var(--spacing-base) * 4) !default;
$spacing-24: calc(var(--spacing-base) * 4.8) !default;
$spacing-28: calc(var(--spacing-base) * 5.6) !default;
$spacing-32: calc(var(--spacing-base) * 6.4) !default;
